.container {
    width: 80%;
    max-width: 1000px;
    border: 2px solid green;
    margin: 20px auto;
}

.photo_upload {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50%;
    box-sizing: border-box;
    background-color: #ddd;
    border: 4px dashed #aaa;
    text-align: center;
    position: relative;
}

/* .photo-upload:after {
    content: "";
    display:block;
    padding-bottom: 100%;
} */

.photo_upload > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}